<%= form_for ([@topic, @post]) do |post| %>
  <% if @topic.errors.any? %>
    <div class="alert alert-error">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @post.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  	<%= post.label :title %><br />
  	<%= post.text_field :title, :class => "width500"%><br />
  </p>
  <p>
    <%= post.label :content %><br />
    <%= post.text_area :content, :rows => 3, :class => "width500"%><br />
  </p>
  <p class="button"><%= post.submit %></p>
<% end %>