<% provide(:title, @post.title) %>
<%= button_to "Edit post", edit_topic_post_path(@post.topic, @post), :method => :get, :class => 'btn' if current_user && @post.user == current_user %>
<table class="table table-bordered table-striped">
	<tr class="info">
  	<td colspan="2"><strong><%= @post.title %></strong></td>
  </tr>
  <tr>
  	<td width="125">
  		<div class="center"><%= @post.user.nil? ? "User deleted" : @post.user.username %></div>
  		<div><%= image_tag "/profile.png", :size => "125x125", :class => "img-rounded" %></div>
  	</td>
  	<td><%= @post.content %></td>
  </tr>
  <% @post.comments.each do |cmnt| %>
    <tr>
    	<td width="125">
	  		<div class="center"><%= cmnt.user.nil? ? "User deleted" : cmnt.user.username %></div>
	  		<div><%= image_tag "/profile.png", :size => "125x125", :class => "img-rounded" %></div>
  		</td>
  		<td><%= cmnt.content %></td>
  	</tr>
  <% end %>
</table>
<%= render "comments/new" if current_user %>
<%= button_to "Delete post", @post, :method => :delete, :class => 'btn', :confirm => "Are you sure?" if current_user && current_user.moderator? %>
