<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    <h1 id="forum-name">TK-Forum</h1>
    <div class="current-user">
      <% if current_user %>
        <p>Logged in as <span class="text-info"><%= current_user.username%></span></p>
      <% end %>
    </div>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_url %></li>
          <!--<li><%= link_to "TODO FOR SELF", todo_path %></li>-->
          <li>
            <% if current_user %>
              <%= link_to "Sign out", log_out_path %>
            <% else %>
              <%= link_to "Sign in", log_in_path %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>