<table class="table table-bordered table-striped">
	<tr class="info">
  	<td><strong>First Name</strong></td>
  	<td><strong>Last Name</strong></td>
  	<td><strong>Username</strong></td>
  	<td><strong>E-mail</strong></td>
  	<td><strong>Birthday</strong></td>
  	<td><strong>Status</strong></td>
  </tr>
	<% @users.each do |user| %>
	  <tr>
	  	<td><%= user.first_name %></td>
	  	<td><%= user.last_name %></td>
	  	<td><%= user.username %></td>
	  	<td><%= user.email %></td>
	  	<td><%= user.birthday %></td>
	  	<td><%= user.status %></td>
	  </tr>
	<% end %>
</table>